<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyler.mapper.SonMapper">
    <resultMap id="sonMap" type="Son">
        <id property="sid" column="sid"/>
        <result property="sname" column="sname"/>
    </resultMap>
    <select id="selectSon" parameterType="int" resultMap="sonMap">
        select * from son where fid=#{fid}
    </select>

</mapper>